:root {
	--box-shadow: 0px 25px 25px 0px #0000000c;
	
	--color-text: #202020 ;
	--color-link: #005bad ;
	--color-primary: #153855 ;
	--color-white: white ;
	--color-black: black ;
	--color-bg: #9aa1a7 ;
	--color-border: #e5e5e5 ;

	--footer-height: 2.4rem;
	--font-size-xl: 1.25rem;
	--font-size-l: 1.125rem;
	--font-size-m: 1rem;
	--font-size-s: 0.875rem;

	--lg-screen: 1144px;
	--sm-screen: 768px;
}

body {
  background-color: var(--color-bg);
}

html {
	font-family: "Outfit", sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - var(--footer-height));
}

.main_content {
	border-radius: 12px;
	background: white;
	width: 24%;
	padding: 15px;
  
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}


.link img {
	display: flex;	
}

.title {
	padding: 12px 0;
}


.footer {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.footer_credits {
	display: flex;
	align-items: center;
  justify-content: center;
	padding: 24px;
}